:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --title-color: #212121;
  --title-grey-theme-color: #ffffff;
  --modal-btn-blue-theme-color: #ffffff;
  --filter-btn-white-theme-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--title-color);
  letter-spacing: 0.03em;
}

h1 {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  /* text-align: center; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.address {
  font-style: normal;
}

.link {
  display: block;
  text-decoration: none;
}

.list {
  list-style: none;
}

/* HEADER */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  margin-right: 85px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-accent {
  color: var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link.current {
  color: var(--accent-color);
}

.navigation-list-link,
.header-tel-link,
.header-email-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-tel-link:hover,
.header-tel-link:focus,
.header-email-link:hover,
.header-email-link:focus {
  color: var(--accent-color);
}

.header .container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.header .navigation {
  margin-right: auto;
}

.header-contacts-list {
  display: flex;
  align-items: center;
}

.header-contacts-list-item:not(:last-child) {
  margin-right: 30px;
}

.header-tel-link,
.header-email-link {
  color: var(--text-color);
}

/* HERO SECTION */
.hero {
  /* text-align: center; */
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-grey-theme-color);
  margin-bottom: 30px;
}

.modal-btn {
  display: block;
  padding-top: 10px;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--modal-btn-blue-theme-color);
  background-color: var(--accent-color);
  margin-left: auto;
  margin-right: auto;

  border-radius: 4px;
  border-style: unset;
}

/*OUR VALUES*/
.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.description {
  font-weight: 400;
  line-height: 1.71;
  color: var(--text-color);
}

/* OUR VALUES */

.our-values.section {
  padding-bottom: 47px;
}

.our-values-list {
  display: flex;
}

.our-values-list-item {
  width: 270px;
}

.our-values-list-img {
  display: block;
  width: 270px;
  height: 120px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;
  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;
}

.our-values-list-item:not(:last-child) {
  margin-right: 30px;
}

/* WHAT WE DO */
.what-we-do.section {
  padding-top: 47px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;
}

.what-we-do .subtitle {
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--title-grey-theme-color);
  justify-content: center;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
}

.what-we-do-list {
  display: flex;
}

.what-we-do-list-item:not(:last-child) {
  margin-right: 30px;
}

/* OUT TEAM */
.our-team {
  background-color: #f5f4fa;
}

.our-team-list {
  display: flex;
  text-align: center;
}

.our-team-list-item {
  background: #ffffff;
}

.our-team-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-list-img {
  margin-bottom: 30px;
}

.our-team-list-item-name,
.our-team-list-item-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.our-team-list-item-name {
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 10px;
}

.our-team-list-item-position {
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 16px;
}

.social-links {
  display: flex;
  margin-bottom: 24px;
  justify-content: center;
}

.social-links-item:not(:last-child) {
  margin-right: 10px;
}

/* OUR CLIENTS */
.our-clients-list {
  display: flex;
}

.our-clients-list-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.our-clients-list-item:not(:last-child) {
  margin-right: 30px;
}

/* FOOTER */
.footer .container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  background-color: #2f303a;
}

.footer .logo {
  color: var(--title-grey-theme-color);
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-right: 147px;
}

.footer-address-items:not(:last-child) {
  margin-bottom: 9px;
}

.footer-map-link,
.footer-email-link,
.footer-tel-link {
  font-weight: 400;
  line-height: 1.71;
}

.footer-map-link,
.join {
  color: var(--title-grey-theme-color);
}

.footer-email-link,
.footer-tel-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-map-link:hover,
.footer-map-link:focus,
.footer-email-link:hover,
.footer-email-link:focus,
.footer-tel-link:hover,
.footer-tel-link:focus {
  color: var(--accent-color);
}

.footer-social-links {
  padding-top: 12px;
}

.join {
  display: block;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/*OUR PROJECTS*/
.our-projects .section {
  padding-top: 93px;
  padding-bottom: 94px;
}

.our-projects-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.our-projects-filter-item .filter-btn {
  padding-top: 6px;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-right: 22px;
}

.our-projects-filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--filter-btn-white-theme-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--modal-btn-blue-theme-color);
}

.our-projects-list {
  display: flex;
  flex-wrap: wrap;
}

.our-projects-list-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.our-projects-list-item:nth-child(3n) {
  margin-right: 0;
}

.our-projects-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.our-projects-list-item img {
  margin-bottom: 20px;
  border-style: none;
}

.our-projects-list-item .subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: var(--title-color);
  margin-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
}

.our-projects-list-item .description {
  font-size: 16px;
  line-height: 1.88;
  margin-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--title-grey-theme-color);
}
